body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2{
    font-size: 16px;
  }

  .product-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .product-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-info p.positive {
    color: #27ae60;
  }

  .positive{
    color: #27ae60;
  }

  .negative{
    color: #c0392b;
  }
  
  .product-info p.negative {
    color: #c0392b;
  }
  
  .product-info p.neutral {
    color: #2980b9;
  }
  
  .sentiment-label {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .chart-container {
    text-align: center;
  }
  
  .chart-img {
    max-width: 100%;
    height: auto;
  }
  